/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 6 janv. 2020, 09:51:10
    Author     : kbidault
*/
body {
    background-color: #eee;
    margin: 0;
}

header, footer{
    background-color: #999;
}

main {
    background-color: #fff;
}

header, main, footer{
    width: 1000px;
    margin: 0 auto;
}

header nav ul li a{
    padding: 1px 40px;
    list-style-type: none;
    border: 1px solid #333;
    margin: 0;
    background-color: #aaa;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-style: italic;
    color: #333;
    border-radius: 10px 10px 0 0;
}

header nav ul li {
    display: inline-block;
    position: relative;
}

a:visited{
    color: black;
}

header nav ul li a:hover{
    background-color: #333;
    color: #aaa;
    border-color: #aaa;
}
header nav ul{
    text-align: center;
    padding: 0;
}

footer ul{
    width: 500px;
    display: inline-block;
}

footer a{
    width: 450px;
    display: inline-block;
}
nav > ul > li > ul {
    display: none;
    position: absolute;


}

nav > ul > li:hover > ul {
    display: block;
}

nav > ul > li > ul > li {
    display: block;
}
nav > ul > li > ul > li > a {
    width: 90px;
}

main ul a, main ul a:visited{
    color: blue;
    text-decoration: none;
}
main ul ul a:visited{
    color: green;
    text-decoration: none;
}
main > ul > li > ul > li > ul > li a:visited{
    color: red;
    text-decoration: none;
}