/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 18 déc. 2019, 14:35:38
    Author     : kbidault
*/
@font-face {
    font-family: 'totot';
    src: url('../theprestigesignature-webfont.woff') format('woff'),
        url('../theprestigesignature-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
h1{
    text-decoration: underline;
    font-size: 50px;
    font-weight: normal;
    font-family: 'Courier Prime', monospace;
    font-style: initial;
}
a{
    text-decoration: none
}
a:hover{
    text-decoration: none
}
a:visited{
    color: purple
}
img{
    float:left;
}
body{
    background-image: url("https://image.shutterstock.com/image-photo/mountains-during-sunset-beautiful-natural-260nw-407021107.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
p, h1{
    color: #ddd
}