body {
    font-family: 'Josefin Slab', serif;
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-rows: 85px auto auto auto auto auto auto 1fr;
    background-color: #FCF0E6;
    padding:0;
    margin:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    position: sticky;
    top: 0;
    background-color: #403B35;
    font-size: 14px;
    align-items: center;
    z-index: 10;
    width: auto;
    overflow: hidden;
    opacity: 80%;
}

nav ul li {
    display: inline;
    padding:5px;
}
nav ul li a{
    position: relative;
    margin: 0.5em;
    border: solid 3px transparent;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;

}
nav ul li a:after{
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-bottom: solid 3px white;
    margin: -10px;
    z-index: -1;
    transition: transform 0.5s linear;
    transform: scale(0.97, 0.93);

}

nav ul li a:hover::after{
    transform: scale(1.1,1)
}
nav ul li a:visited{
    color: white;
}
img{
    object-fit: cover;
}
a{
    color: white;
}
.logo {
    grid-area: 1 / 1 / 2 / 4;
    z-index: 11;
    margin-left: 6%;
    position: sticky;
    top:0;
    width: auto;
    height: auto;
}


h1{
    font-size: 72px;
    color: #c5a45a;
    text-align: center;
}
p{
    font-size: 18px;
}
/* slider*/
#slider{
    grid-area: 2 / 1 / 3 / 4;

}
#slider > div { width: 100%; max-width: 100%; overflow: hidden ;

}
#slider div figure {
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
    z-index: 0.80;
}
#slider div figure img { width: 25%; height: auto; float: left; }
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -300%; }
}
/*page histoire*/
#histoire {
    grid-area:3 / 2 / 4 / 3;
    background-color: #FCF0E6;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
}
#histoire > #contenuhistoire {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 12%;

}
#histoire > #contenuhistoire h1 {
    text-align: center;
}
#histoire > #contenuhistoire p{
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}
#histoire > #imghistoire{
    grid-area: 1 / 2 / 2 / 3;
    margin-top: auto;
    margin-bottom: 8%;
    text-align: center;

}
#histoire > #imghistoire img {

    -moz-box-shadow: 10px 10px 20px 0px #656565;
    -webkit-box-shadow: 10px 10px 20px 0px #656565;
    -o-box-shadow: 10px 10px 20px 0px #656565;
    box-shadow: 10px 10px 20px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=20);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

/* page demarche*/
#savoirfaire{
    grid-area: 4 / 2 / 5 / 3;background-color: #FCF0E6;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
#savoirfaire > #contenusavoirfaire{
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 15%;
}
#savoirfaire > h1{

    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
}
#savoirfaire > #contenusavoirfaire {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    grid-area: 2 / 2 / 3 / 3;
}
#savoirfaire > #imgsavoirfaire{
    grid-area: 2 / 1 / 3 / 2;
    margin-top: auto;
    margin-bottom: 5%;
    margin-left: 8%;

}
#savoirfaire > #imgsavoirfaire img {
    -moz-box-shadow: 10px 10px 20px 0px #656565;
    -webkit-box-shadow: 10px 10px 20px 0px #656565;
    -o-box-shadow: 10px 10px 20px 0px #656565;
    box-shadow: 10px 10px 20px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=20);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/*page produits*/
#produits{
    grid-area: 5 / 2 / 6 / 3;background-color: #FCF0E6;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}
#titreproduit{
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
    margin-top: 130px;
}

#produit1 > img {
    margin-left: 15%;
    border-radius: 20px;
    display:block;
    width: auto;
    height:auto;
    grid-area: 2 / 1 / 3 / 2;
}
#produits #produit1 > img:hover{
    background-color: black;
}
#produit1 > p {
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    grid-area: 3 / 1 / 4 / 2;
}

#produit2 > img {
    margin-left: 15%;
    border-radius: 20px;
    grid-area: 2 / 2 / 3 / 3;display:block;
    width: auto;
    height:auto
}
#produit2 > p {
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    grid-area: 3 / 2 / 4 / 3;
}
#produit3 > img {
    margin-left: 15%;
    border-radius: 20px;
    grid-area: 2 / 3 / 3 / 4;display:block;
    width: auto;
    height:auto
}


#produit3 > p {
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    grid-area: 3 / 3 / 4 / 4;}
/*page contact*/
#contact{
    grid-area: 6 / 2 / 7 / 3;background-color: #FCF0E6;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);

}
#contact > #h1contact {
    grid-area: 1 / 1 / 2 / 3;
    margin-top: 10%;
}
#contact > #h1contact h1 {
    text-align: center;
}
#contact > #reseauxsociaux{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;

}
#contact > #formulaire {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    width:100%;

}
textarea{
    vertical-align: top;
}

form#form label { display:inline-block; width:100px;
}
form#form input { display:inline-block; }
#geoloc {
    grid-area: 3 / 1 / 4 / 3;
    margin-bottom: 20%;
}
#contact > div > iframe {

    border-radius: 20px;
    width: 100%;

}
#reseauxsociaux > a > img {
    width: 37px;
    height: 37px;
}
/*footer*/
footer{
    grid-area: 7 / 1 / 8 / 4;
    color: #c5a45a;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    background-color: #403B35;
    line-height: 300%;

}
footer a  img{
    height: 37px;
    width: 37px;
}
footer ul li {
    list-style-type: none;
    font-size: 20px;
}
footer ul li a{
    text-decoration: none;
    font-size: 18px;
}
footer ul li a:visited{
    color: white;
}
footer #footer1 {
    grid-area: 1 / 1 / 2 / 2;    width: auto;    margin: auto;



}
footer #footer2 {
    grid-area: 1 / 2 / 2 / 3;    width: auto;    margin: auto;


}
footer #footer3 {
    grid-area: 1 / 4 / 2 / 5;   width: auto;    margin: auto;


}
footer #footer4{
    grid-area: 1 / 5 / 2 / 6;
    width: auto;

}
footer > img {
    grid-area: 1 / 3 / 2 / 4;
    width:auto;
    margin: auto;
}
#btn_message {
    color:white;
    background-color: #c5a45a;
    border-radius: 30px;
    border: 1px solid #c5a45a;
    font-size: 20px;
    margin:3px;
    padding: 5px;
    font-size: 18px;
    transition: all 0.3s linear;
    text-transform: uppercase;
}
#btn_message:hover{
    color:#c5a45a;
    background-color: white;
    border-radius: 30px;
    border: 1px solid white;

}
#tel {
    color: gray;
    font-size: 18px;
}
#copyright{
    grid-area: 2 / 1 / 3 / 6;

}
#copyright ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*page mention légales*/
#mentionslegales{
    display: grid;
    grid-template-columns: auto 80% auto ;
    grid-template-rows: 85px auto auto 1fr;
}
#mentionslegales > header{
    grid-area: 2 / 2 / 3 / 3;
    margin-top: 5%;
}
#mentionslegales > main {
    grid-area: 3 / 2 / 4 / 3;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    font-size: 18px;
}
#mentionslegales h5 {
    font-size: 22px;
}
/* page plan du site */
#plandusite{
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-rows: 85px auto auto 1fr;}
#plandusite > header{
    grid-area:2 / 2 / 3 / 3;
    margin-top: 5%;
    text-align: center;
}
#plandusite h4{
    font-size: 30px;
}
#plandusite > main {
    grid-area: 3 / 2 / 4 / 3;
    margin-bottom: 10%;
    margin-left: 10%
}
#plandusite ul {
    list-style-type: none;
}
#plandusite > main > ul > li > a{
    color: #656565;
    text-decoration: none;
    font-size: 20px;
    line-height: 300%;

}
input[type="submit"]{
    border-radius: 40px;
    background-color: #c5a45a;
    width: 100px;
    height: 30px;
    color:white;
}
