@media screen and (max-width:1160px){
    nav{
        font-size: 12px;
    }
    .logo{
        margin-left: 0%;
    }


    #histoire {
        margin-top: 10%;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    #histoire > #contenuhistoire {
        grid-area: 1 / 1 / 3 / 2;


    }
    #histoire > #contenuhistoire h1 {
        text-align: center;
        grid-area: 1 / 1 / 2 / 2;
        font-size: 50px;
    }
    #histoire > #contenuhistoire p{
        text-align: left;
        grid-area: 2 / 1 / 3 / 2;
        margin-left: 50px;
        margin-right: 50px;
    }
    #histoire > #imghistoire{
        grid-area: 3 / 1 / 4 / 2;
        margin: auto;
        margin-bottom: 8%;
    }
    #histoire > #imghistoire img{
        width: 60%;
    }
    #savoirfaire{
        margin-top: 10%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
    }
    #savoirfaire > #contenusavoirfaire{
        grid-area: 1 / 2 / 2 / 3;
        margin-top: 15%;
    }
    #savoirfaire > h1{

        grid-area: 1 / 1 / 2 / 2;
        text-align: center;
        font-size: 50px;
    }
    #savoirfaire > #contenusavoirfaire {
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
        grid-area: 3 / 1 / 4 / 2;
    }
    #savoirfaire > #imgsavoirfaire{
        grid-area: 2 / 1 / 3 / 2;

        margin-bottom: 5%;
        margin-left: 25%;}
    #savoirfaire > #imgsavoirfaire img{
        width: 60%;
    }
    #produits{
        margin-top: 10%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);grid-column-gap: 15px;
    }
    #titreproduit{
        grid-area: 1 / 1 / 2 / 3;
        text-align: center;
        margin-bottom: 10%;
    }

    #produit1{
        grid-area: 2 / 1 / 3 / 2;
        margin-bottom: 80px;
        font-size: 50px;
    }
    #produit1 > img {
        width: 80%;        border-radius: 20px;
    }
    #produit1 > p {
        margin-bottom: 20px;

    }
    #produit2{
        grid-area: 2 / 2 / 3 / 3;

    }
    #produit2 > img {
        width: 80%;        border-radius: 20px;
    }
    #produit2 > p {
        margin-bottom: 20px;

    }
    #produit3{
        grid-area: 3 / 1 / 4 / 3;

    }
    #produit3 > img {
        margin-left: 30%;
        border-radius: 20px;
        width: auto;    }
    #produit3 > p {
        margin-bottom: 20px;
        margin-left: 50px;
        margin-right: 50px;}


    #contact{
        margin-top: 10%;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto)
    }
    #contact > h1 {
        grid-area: 1 / 1 / 2 / 2; ;
        text-align: center;
        font-size: 50px;
    }

    #contact > #formulaire {

        grid-area: 2 / 1 / 3 / 2;
    }

    #contact > div > iframe {

        width: 100%;
    }
    #geoloc{
        grid-area: 3 / 1 / 4 / 2;
        width: 100%;
        margin-left: auto;
    }
    #contact > #reseauxsociaux {
        grid-area: 4 / 1 / 5 / 2;
        margin: auto;
        margin-bottom: 20%;   }
    footer{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, auto);
    }
    footer #footer1 {
        grid-area: 1 / 2 / 2 / 3;    width: auto;    margin: auto;



    }
    footer #footer2 {
        grid-area: 1 / 3 / 2 / 4;    width: auto;    margin: auto;


    }
    footer #footer3 {
        grid-area: 1 / 4 / 2 / 5;   width: auto;    margin: auto;


    }
    footer #footer4{
        grid-area:2 / 2 / 3 / 4;
        width: auto;

    }
    footer > img {
        grid-area:1 / 1 / 3 / 2;
        width:auto;
        margin: auto;
    }
    #copyright{
        grid-area: 3 / 1 / 4 / 5;
    }

}
@media screen and (max-width:830px){
    body{display: grid;
         grid-template-columns: auto 80% auto;
         grid-template-rows: auto auto auto auto auto auto auto 1fr;

    }
    .logo{width: auto;
          position: initial;
    }
    nav{display: flex;
        justify-content: center;
        position: initial;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    nav ul li {
        display: inline-block;
        text-align: center
    }
    nav ul li a:after{
        display: none}
    #produits{
        margin-top: 10%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
    }
    #titreproduit{
        grid-area: 1 / 1 / 2 / 2;
        text-align: center;
        margin-bottom: 10%;
    }

    #produit1{
        grid-area: 2 / 1 / 3 / 2;
        margin-bottom: 80px;
    }
    #produit1 > img {
        width: 70%;
    }
    #produit1 > p {
        margin-bottom: 20px;

    }
    #produit2{
        grid-area:3 / 1 / 4 / 2;

    }
    #produit2 > img {
        width: 70%;
    }
    #produit2 > p {
        margin-bottom: 20px;

    }
    #produit3{
        grid-area: 4 / 1 / 5 / 2;

    }
    #produit3 > img {
        margin:auto;
        width: 70%;    }
    #produit3 > p {
        margin-bottom: 20px;
        margin-left: 50px;
        margin-right: 50px;}
    footer{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
        text-align: center;
    }
    footer #footer1 {
        grid-area: 2 / 1 / 3 / 2;   width: auto;    margin: auto;



    }
    footer #footer2 {
        grid-area: 3 / 1 / 4 / 2;    width: auto;    margin: auto;


    }
    footer #footer3 {
        grid-area: 4 / 1 / 5 / 2;   width: auto;    margin: auto;


    }
    footer #footer4{
        grid-area: 5 / 1 / 6 / 2;
        width: auto;

    }
    footer > img {
        grid-area: 1 / 1 / 2 / 2;
        width:auto;
        margin: auto;
    }
    #copyright{
        grid-area: 6 / 1 / 7 / 2;
    }
    #mentionslegales{
        display: grid;
        grid-template-columns: auto 80% auto ;
        grid-template-rows: auto auto auto 1fr
    }
    #mentionslegales h1 {
        font-size: 50px;
    }
    #plandusite{
        display: grid;
        grid-template-columns: auto 80% auto;
        grid-template-rows: auto auto auto 1fr;}}
