body{
    background-color: graytext;
    display: grid;
    margin:0;
    grid-template-columns:auto 1000px auto;
    grid-template-rows:300px 100px auto 300px;
}
header {
    text-align: center;
    border:1px solid red;
    grid-area: 1 / 2 / 2 / 3;
}
nav{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: crimson;
    grid-area:2/2/3/3;
}
nav ul {
    display: flex;

    padding:0;
    margin:0;
}
nav ul li {
    display:block;
    border: 1px solid black;
    flex-grow: 1;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
nav ul li a {
    display: block;
    text-decoration: none;
    padding: 0 auto;
}
main {
    grid-area:3 / 2 / 4 / 3;
    background-color: #FCF0E6;
}
footer {
    grid-area:4/1/5/4;
    border:solid 1px black;
    background-color: turquoise;
}
footer>div:first-child {
    background-color:blue;
}
footer>div:nth-child(2) {
    background-color:green;
}
footer>div:last-child {
    background-color:purple;
}
@media screen and (min-width:1000px){
    body{width: 1000px;}}
@media screen and (max-width:1000px){
    body{width:100%;}
}
